.DS_Store
*.swp
.npm-packages
.npmrc
yarn.lock
npm-debug.log
node_modules
Data
coverage/
test/output.html
test/TESTS-*.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/encodings.xml
/.idea/mri-analyzer.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vagrant.xml
/.idea/vcs.xml
/.idea/workspace.xml
/dist/serviceWorker.js
